@using Microsoft.AspNet.Identity;
@using application.Models;
@using application.Models.NHibernate;
@using NHibernate;
@{int id = 1;}
@using (ISession session = new NHibernateHelper().OpenSession())
{
    id = User.Identity.IsAuthenticated?session.QueryOver<Users>().List().Where(u => u.Id.ToString() == User.Identity.GetUserId()).SingleOrDefault().Group.Id:1;
}
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Библиотека</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" />
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-title"><strong>@ViewBag.Title - Библиотека</strong></div>
        <div>
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="http://localhost:56279/">Главная</a></li>
                        @if (id == 2)
                        {
                            <li>
                                <a href="javascript:false;">Регистрация</a>
                                <ul class="menu vertical">
                                    <li><a href="http://localhost:56279/Account/Register">Регистрация пользователя</a></li>
                                    <li><a href="http://localhost:56279/Books/Create">Регистрация книги</a></li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="javascript:false;">Книги</a>
                            <ul class="menu vertical">
                                <li><a href="http://localhost:56279/Books">Список книг</a></li>
                                <li><a href="http://localhost:56279/Queue">Забронированные книги</a></li>
                                <li><a href="http://localhost:56279/Received/List">Выданные книги</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:false;">Поиск</a>
                            <ul class="menu vertical">
                                <li><a href="http://localhost:56279/Search/Books">Поиск книг</a></li>
                                @if (id == 2)
                                {
                                    <li><a href="http://localhost:56279/Search/Users">Поиск пользователей</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="http://localhost:56279/Account/LogOff">Выход</a></li>
                    </ul>
                </div>
                <div class="top-bar-right"></div>
            </div>
    </div>
    <div class="row">
        @RenderBody()
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
          $(document).ready(function () {
              $(document).foundation();
          });
    </script>

</body>
</html>