@model IEnumerable<application.Models.QueueForBooks>

@{
    ViewBag.Title = "Очереди к книгам";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Название книги
        </th>
        <th>
            Автор книги
        </th>
        <th>
            Дата добавления в очередь
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetDate)
        </td>
        <td>
            @Html.ActionLink("Выйти из очереди", "Delete", new { id=item.Book.Id })
        </td>
    </tr>
}

</table>
