@using Microsoft.AspNet.Identity;
@using application.Models;
@using application.Models.NHibernate;
@using NHibernate;
@{int id = 1;}
@using (ISession session = new NHibernateHelper().OpenSession())
{
    id = User.Identity.IsAuthenticated ? session.QueryOver<Users>().List().Where(u => u.Id.ToString() == User.Identity.GetUserId()).SingleOrDefault().Group.Id : 1;
}
@model IEnumerable<application.Models.IssuedBooks>

@{
    ViewBag.Title = "Список выданных книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            Название книги
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата получения книги
        </th>
        <th>
            Дата возврата книги
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetBeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetEndTime)
            </td>
            <td>
                @if (id == 2) { Html.ActionLink("Вернуть", "Return", "Books", new { issued_id = item.Id }, null); }
            </td>
        </tr>
    }

</table>
